{{ define "main" }}


default/taxonomy

<div>
   	<h3>{{ .Title }}</h3>

   	<!-- {{ .Data.Term }}
   	{{ .GetTerms "tags" }} -->

   	<!-- <hr> -->
   	<!-- {{ $term_name := .Data.Plural }}
   	{{ range $key, $value := .Site.Taxonomies }}
   			{{ $key }} == [{{ .Data.Plural }}]
   		{{ if eq $term_name $key  }}
   			qqqqqqq ===
   			{{ $value }}
   		{{ end }}
   	{{ end }} -->
   	<!-- <hr> -->
   	<!-- {{ .Data }} -->
   	<!-- <hr> -->
   	<!-- {{ .Data.Plural }} -->
   	<!-- <hr> -->
  

   	<div class="columns">
   		<div class="col-9">



			{{ range .Pages }}
				{{ partial "post_summary.html" . }}
			{{ end }}
   		</div>
   		<div class="col-3">
   			<div class="card">
				<div class="card-body">


						{{ $term_name := .Data.Plural }}
   						{{ range $key, $value := .Site.Taxonomies }}
   							
   							{{ if eq $term_name $key  }}
   			
   								<ul>
								{{ range $value }}
									<li>
										<a href="{{ .Page.Permalink }}">
											{{ .Page.Title }} {{ .Count }}
										</a>
									</li>
								{{ end }}
								</ul>

   							{{ end }}
   						{{ end }}

					

					<!-- old only tags -->
					<!-- <hr>




					<ul>
					{{ range .Site.Taxonomies.tags }}
						<li>
							<a href="{{ .Page.Permalink }}">
								{{ .Page.Title }} {{ .Count }}
							</a>
						</li>
					{{ end }}
					</ul> -->


				</div>
			</div>
   		</div>
   	</div>

		<!-- page terms -->
		<!-- <hr>
		<h6>Terms</h6>
		<ul>
		{{ range .Data.Terms }}
			<li>
				<a href="{{ .Page.Permalink }}">
					{{ .Page.Title }} {{ .Count }}

							</a>
			</li>
			
			
		{{ end }}
		</ul> -->
		<!-- <hr> -->





		





	

</div>
	
{{ end }}
