{{ define "header" }}{{ partial "header.html" . }}{{ end }}

{{ define "main" }}



<article>
				<!-- <p class="f6 b helvetica tracked">
					{{ humanize .Section | upper  }}
				</p> -->
	<h1>{{ .Title }}</h1>

	

	<div>
		<div>
			<i class="fa fa-calendar-o" aria-hidden="true"></i> {{ .Date.Format "2006-01-02 15:04:05" }}
		</div>	

		<div>
			
			{{ range (.GetTerms "categories") }}
				<i class="fa fa-folder-o" aria-hidden="true"></i> <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
			{{ end }}
		</div>

		<div>
			<i class="fa fa-tags" aria-hidden="true"></i>
			{{ range (.GetTerms "tags") }}
				<span class="label mb-1">
					<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
				</span>
			{{ end }}
		</div>


	</div>



	<!-- <hr> -->

	<aside class="float-right">
		<div class="card">
			<div class="card-body">
				{{ .TableOfContents }}	
			</div>
		</div>
	</aside>

	

	<div class="mt-2">
			{{ .Content }}
	</div>



	<div class="columns my-2">
		<div class="col-6">
			
			{{ with .PrevInSection }}
			  <a class="previous" href="{{.Permalink}}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> {{.Title}}</a>
			{{ end }}
		</div>
		<div class="col-6 text-right">
			{{ with .NextInSection }}
			  <a class="next" href="{{.Permalink}}">{{.Title}} <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
			{{ end }}
		</div>
	</div>


</article>
		<!-- <aside class="ph3 mt2 mt6-ns">
			{{ partial "nav_side.html" . }}
		</aside> -->

	
{{ end }}
