{{ define "header" }}{{ partial "header.html" . }}{{ end }}

{{ define "main" }}



<article>
				<!-- <p class="f6 b helvetica tracked">
					{{ humanize .Section | upper  }}
				</p> -->
	<h1>{{ .Title }}</h1>

	

	<div>
		<div>
			{{ .Date.Format "2006-01-02 15:04:05" }}
		</div>	

	    {{ range (.GetTerms "tags") }}
	    	<span class="label mb-1">
	        	<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
	    	</span>
	    {{ end }}
	</div>

	<aside class="float-right">
		<div class="card">
			<div class="card-body">
				{{ .TableOfContents }}	
			</div>
		</div>
	</aside>

	

	<div class="mt-2">
			{{ .Content }}
	</div>


</article>
		<!-- <aside class="ph3 mt2 mt6-ns">
			{{ partial "nav_side.html" . }}
		</aside> -->

	
{{ end }}
